* {
    box-sizing: border-box;
}

/* Font Face */

@font-face {
    font-family: Lato-regular;
    src: url('../fonts/Lato/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Lato-bold;
    src: url('../fonts/Lato/OpenSans-Bold.ttf');
}

@font-face {
    font-family: Euro;
    src: url('../fonts/Euro/eurof55.ttf');
}

html {
    font-family: 'Lato-regular', 'Open Sans', sans-serif;
    color: #606060;
}

/*when in some mobile divice the page is not in the middle- its fixed it*/
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
}

div, h1, h2, h3, p, li {
    margin: 0;
}

a {
    text-decoration: none;
}

.btn:focus {
    outline: none;
}

a, .btn {
    cursor: pointer;
}

.btn {
    background-color: #ffffff;
}

/* Helpers */

.text-align {
    text-align: center;
}

.container {
    padding: 0 20px;
}

.container, .btns-previous-next {
    /* flex is not like block, (not 100% width) so we need to write:  width: 100%; when we set max-width */
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

/* lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

/* flex */
.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.direction {
    flex-direction: column;
}

/* .align-item {
    align-self: center;
} */

.flex-wrap {
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
}

header {
    height: 110px;
    background-color: #292929;
    box-shadow: inset 0px -5px #1e1e1e;
    /* we coont do it?? only marig-bottom for all items*/
    /* margin-bottom: 80px; */
}

h1.logo {
    margin: 0;
}

.logo {
    color: #ffffff;
    text-transform: capitalize;
    font-family: 'Euro', 'Open Sans', sans-serif;
}

.logo span {
    color: #58c93a;
}

.btn-toggle-menu {
    width: 110px;
    height: 110px;
    color: #ffffff;
    background-color: #292929;
    border: 0;
    font-size: 2.5rem;
    position: absolute;
    right: 0;
}

.btn-toggle-menu-open {
    right: 50%;
}

nav ul {
    height: 100vh;
    /* z-index: 5; */
    /* width: 250px;*/
    flex-direction: column;
    background-color: #1a1919f2;
    position: fixed;
    top: 0%;
    right: 0%;
    transform: translate(100%, 0);
    transition: all .8s;
}

.open {
    transform: translate(0, 0);
    z-index: 2;
}

.screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    visibility: hidden;
}

.screen-open {
    visibility: visible;
    z-index: 1;
}

nav li a{
    width: 250px;
    border-right: 1px solid #1e1e1e;
    border-left: 1px solid #1e1e1e;
    color: #ffffff;
    justify-content: center;
    display: block;
    line-height: 110px;
    height: 110px;
    font-family: 'Lato-bold', 'Open Sans', sans-serif;
}

nav li a:hover, nav li a:active{
    color: #58c93a;
}

nav li a:active{
    /* border-bottom: 5px solid #58c93a; */
    box-shadow: inset 0px -5px #58c93a;
    border-bottom: 0 solid #1e1e1e; 
}


/*dropdown, if i want to do animation to the dropdown there is another file - to use inseade of the same classes here*/
.journal {
    position: relative;
}

.journal-dropdown {
    display: none;
    top: 300%;
    transition: all .8s;
    height: 0%;
    transform: translate(0, 0);
}

.journal:hover .journal-dropdown {
    display: block;
    position: absolute;
    height: 247%;
    
    /* z-index: 5; */
    /* width: 250px;*/
    flex-direction: column;
    background-color: #292929;
    top: -155%;
    /* right: 100%; */
    transform: translate(0, 100%);
}

.journal-dropdown li a {
    width: 260px;
    height: 80px;
    line-height: 80px;
    margin: 0;
}

/*end of dropdown section*/

main.container {
    border-right: 1px solid #e1e0e0;
    border-left: 1px solid #e1e0e0;
    padding-top: 60px;
}

.blog-items-container {
    max-width: 940px;
    width: 100%;
}

/*is it ok together and not speical class???*/
.blog-info {
    align-self: center;
    /* max-height: 300px; */
    /* max-height: 300px;
    height: 100%; */
    /* if we give a height - the text will be obove each other if it small hight*/
    /* height: 300px; */
    max-width: 450px;
    width: 100%;
    /* dont do it- cut the text*/
    /* overflow: hidden; */
}

.blog-info-text h2 {
    font-family: 'Lato-bold', 'Open Sans', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 30px;
}

.blog-info-text p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.blog-item-img {
    max-height: 300px;
    height: 100%;
    max-width: 450px;
    width: 100%;
    align-self: center;
    margin-bottom: 20px;
}

.blog-item-img-protrait {
    display: none;
}

.blog-item {
    padding-bottom: 60px;
    flex-direction: column;
    /* height: 550px; */
}

/* .btn-continue {
    z-index: -1;
} */

.btn-continue, .btn-submit {
    /* display: none; */
    border-radius: 20px;
    border: 2px solid #c2c2c2;
    color: #c2c2c2;
    height: 40px;
    
    /* width: 300px; */
    font-family:  'Lato-regular', 'Open Sans', sans-serif;
    font-size: 1rem;
    position: relative;
    max-width:190px;
    /* right: 15px; */
    padding: 0 0;
    transition: all 0.3s;
}

.btn-continue:hover {   
    color: #58c93a;
    border: 2px solid #58c93a;
    padding: 0 10px;
    max-width: 200px;
    
    /* max-width:300px; */
    /*dont givewidth- we want that it will change according to the content width
    /* width: 210px; */
}

.btn-continue:hover::after {
    content: ' → ' ;
    color: #58c93a;
    position: absolute;
}

.modal-continue {
    width: 100vw;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ffffff;
    align-items: center;
    margin: 0;
    z-index: 6;
    justify-content: center;
    display: none;
}

/* .btn-continue:active .modal-continue {
    display: inline-block;
} */

/* .btn-continue:active.screen-open {
    visibility: visible;
    z-index: 1;
} */


.modal-continue-open {
    display: inline-block;
}

.modal-continue-txt {
    margin: 20px;
}

.modal-continue h3 {
    font-size: 1.5rem;
    padding: 20px;
    text-align: center;
}

.btn-close {
    height: 50px;
    width: 50px;
    align-self: center;
    align-self: flex-start;
    line-height: 2rem;
    text-align: center;
    padding: 2px;
    background-color: #1e1e1e;
    color: #ffffff;
    border: 0;
    font-size: 1.5rem;
    position: absolute;
    right: 5%;
    top: 3%;
}

.modal-details {
    position: absolute;
    right: 10%;
    top: 30%;
}

.form-e-mail {
    padding: 10px;
}

.btn-submit {
    /* height: 80px; */
    /* width: 150px; */
    line-height: 0.2rem;
    text-align: center;
    display: block;
    padding: 15px 30px;
    color: #1e1e1e;
    position: absolute;
    top: 62%;
    right: 38%;

}

.open-modal {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    /* display: inline; */
}

.btns-previous-next {
    border-top: 1px solid #e1e0e0;
    border-right: 1px solid #e1e0e0;
    border-left: 1px solid #e1e0e0;
}

.btn-previous, .btn-next {
    border: none;
    font-family: 'Lato-regular', 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #818181;
    font-size: 0.8rem;
    margin: 20px 0;
    padding: 0 10px;
}

/*if we want the the arrow in the button will move!!!
/* .btns-previous-next i {
    margin: 0 10px;
    
    transform: translate(0, 0);
    
    transition: transform .3s;
}

.btns-previous-next:hover i {
    transform: translate(20px, 0);

} */

footer {
    background-color: #f8f8f8;
    height: 220px;
    justify-content: center;
    border-top: 1px solid #e1e0e0;
    
}

footer .logo {
    color: #292929
}

footer p span {
    font-family: 'Lato-bold', 'Open Sans', sans-serif;
}

.footer-items-container {
    max-width: 520px;
    height: 180px;
}

.footer-items-container p {
    font-size: 0.8125rem;
}

.icons li a{
    width: 40px;
    line-height: 40px;
    background-color: #e5e5e5;
    margin-right: 30px;
    text-align: center;
}

.icons li:last-child {
    margin-right: 0px;
}

.icons a {
    color: #ffffff;
}

.icons a:hover {
    background-color: #516fad;
}

.btns-previous-next i {
    margin: 0 10px;
}

.footer-items-container p {
    text-align: center;
    line-height: 1.3rem;
}

@media screen and (min-width: 678px) {
    .modal-continue {
        width: 500px;
        height: 300px;
        background-color: #1e1e1e;
        color: #ffffff;
        align-items: center;
        margin: 0;
        z-index: 6;
    }
    
    .modal-continue-txt {
        margin: 5px;
    }
    
    .modal-continue h3 {
        font-size: 1.5rem;
        padding: 20px;
        position: relative;
        top: 0%;
    }
    
    .btn-close {
        height: 50px;
        width: 50px;
        align-self: center;
        align-self: flex-end;
        line-height: 2rem;
        text-align: center;
        padding: 2px;
        background-color: #1e1e1e;
        color: #ffffff;
        border: 0;
        font-size: 1.5rem;
        position: relative;
        top: 5%;

    }
    
    .form-e-mail {
        padding: 10px;
    }
    
    .btn-submit {
        /* height: 80px; */
        /* width: 150px; */
        line-height: 0.2rem;
        text-align: center;
        display: block;
        padding: 15px 30px;
        color: #1e1e1e;
        position: relative;
        top: -3%;
        right: -37%;
    }
    
    .open-modal {
        /* display: inline-block; */
        top: 30%;
        right: 20%;
    }

    header {
        height: 110px;
    }

    nav ul {
        height: 0;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d5d2d200;
        position: static;
        /* transition: all 0s; */
        transform: translate(0, 0);
    }

    nav li a {
        width: 110px;
        /* height: 110px; */
    }

    .btn-toggle-menu {
        display: none;
    }

    .container, .btns-previous-next {
        /* flex is not like block, (not 100% width) so we need to write:  width: 100%; when we set max-width */
        /* width: 100%; */
        max-width: 678px;
        margin: 0 auto;
    }

    main.container {
        padding-top: 50px;
    }

    .blog-items-container {
        width: 655px;
    }

    .blog-item-img-protrait {
        display: inline;
    }
    
    .blog-info {
        margin: 0 0 0 35px;
    }

    /*is it ok together and not speical class???*/
    .blog-item-img {
        height: 300px;
        width: 450px;
        display: none;
        margin-bottom: 0px;
    }

    .blog-item {
        padding-bottom: 50px;
        flex-direction: row;
    }

    .btn-continue {
        display: inline;
    }

    .btn-previous, .btn-next {
        margin: 25px 0;
        padding: 0 25px;
        font-size: 1.125rem;
    }

    footer {
        height: 200px;
    }

    .footer-items-container {
        height: 160px;
    }
}

@media screen and (min-width: 980px) {

    .open-modal {
        /* display: inline-block; */
        top: 30%;
        right: 25%;
    }
    
    header {
        height: 130px;
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
        background-color: #d5d2d200;
        position: static;
        transform: translate(0, 0);
    }

    nav li a{
        width: 130px;
        height: 130px;
        line-height: 130px;
    }
    
    nav li a:hover, nav li a:active{
        color: #58c93a;
    }
    
    nav li a:active{
        /* border-bottom: 5px solid #58c93a; */
        box-shadow: inset 0px -5px #58c93a; 
    }

    .btn-toggle-menu {
        display: none;
    }

    main.container {
        padding-top: 80px;
    }

    .container, .btns-previous-next {
        /* flex is not like block, (not 100% width) so we need to write:  width: 100%; when we set max-width */
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }
 
    .blog-items-container {
        max-width: 940px;
        width: 100%;
    }

    .blog-info {
        height: 300px;
    }

    li.blog-item {
        margin: 0;
    }

    .blog-item-img-protrait {
        display: none;
    }

    .blog-item-img {
        display: inline;
        margin-bottom: 0px;
        /* max-height: 300px;
        height: 100%;
        max-width: 450px;
        width: 100%; */
    }

    .blog-item {
        padding-bottom: 80px;
        flex-direction: row;
    }

    .btn-previous, .btn-next {
        margin: 35px 0;
        padding: 0 35px;
    }

    footer {
        height: 315px;
    }

    .footer-items-container {
        max-width: 520px;
        height: 170px;
    }
}


